body{
    overflow-x:hidden;
    margin: 0px;
    background: #eee;
}

--iron-image-placeholder{
    background: #939ed5;
}

.header{
    color: white;
    background: #F06292;
}
.header-menu{
    color: white;
    background: var(--paper-toolbar-background, var(--primary-color));
}

.header-tittle{
    
    margin-top: -27em;
    position: absolute;
    color: white;
    margin-left: 32em;
}


#example-full-width-container {
    width: 100%;
    
}

#example-full-width {
width: 100%;
--iron-image-width: 100%;
}

#example-half-width {
width: 100%;
--iron-image-width: 100%;
}

.image-header{
    width:100%;
    height:100%;
    opacity: 0.6;
}

.menu-it{
    color: #212121;
}

a{
    text-decoration: none;
}

.catalog{
    padding: 1px;
    background: white;
    margin-top: 70px;
}

.contact{
    padding: 1px;height: 50%;
    background: white;
}

.footer{
    padding: 1px;height: 10%;
    background: #F06292;
}

@media screen and (max-width:800px){

    .header-tittle {
        margin-top: -9em;
        position: absolute;
        color: white;
        margin-left: 1em;
        font-size: 27px;
    }
    .catalog{

        padding: 1px;
        height: 1200px;
        background: white;
        margin-top: 52px;
    }

    .contact{

        padding: 1px;
        height: 100%;
        background: white;
        margin: 0px;
    }

    .events{

        padding: 1px;
        height: 50%;
        background: white;
        margin-top: 90px;
    }

    .app-header-0{
        height: 50%;
    }

    .footer{
        height: 17%;
    }

}
@media screen and (min-width:800px){

    .events{
        margin-top: 190px;
    }

}
@media screen and (min-width:1300px) {
    .header-tittle {
        margin-top: -19em;
        position: absolute;
        color: white;
        margin-left: 25em;
    }

    .events {
        margin-top: 0px;
    }
}



